@font-face {
    font-family: 'Global';
    src: url('maven.ttf') format('truetype');
}

body {
    background-color: #222222;
}

textarea {
    position: absolute;
    resize: none;
    border: 0px;
    font-size: 16px;
    font-family: 'Global';
    color: #333333;
    font-weight: bold;
}

#container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 0 auto;
}
