@font-face {
    font-family: 'Global';
    src: url('maven.ttf') format('truetype');
}

body {
    background-color: #222222;
    margin: 0px;
}

textarea {
    position: absolute;
    resize: none;
    border: none;
    font-size: 17px;
    font-family: 'Global';
    font-weight: bold;
    color: #888888;


    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#container {
    position: relative;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}
