.MuiInputBase-root::before {
  border-bottom: 0px solid #53af5b !important;
}

.MuiSvgIcon-root {
  color: #f5dd64 !important;
}

::-moz-selection {
  color: #582e6b;
  background: #f59464;
}

::selection {
  color: #582e6b;
  background: #f59464;
}
